<div class="center hero-unit">
  <h1>Welcome to Superdoku<br> The ultimate Sudoku Solving App on the web!</h1> 
  
</div>

<center><%= link_to image_tag("sudoku.png", alt: "sudoku"), '/solvers' %></center>
