<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "SUDOKU", '/solvers', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "HOME",    '/solvers' %></li>
              <li><%= link_to "SOLVE",    '/solvers/new' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header> 